body {
  margin: 20px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #111;
  color: #fff;
}

code {
  background: #d0d0d5;
}

canvas {
  margin: auto;
  /* padding: 0px; */
  border: solid 1px red;
  object-fit: cover;
}

.container {
  display: flex;
  flex-direction: column;
}

@media (min-width: 800px) {
  .container {
    flex-direction: row;
  }
}
